 
/* Estilos generales */
.container-box {
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: 30vw 70vw;
    padding: 20px 15px;
    
}

/* Otras reglas de estilo globales aquí */
